
.form-row {
  Padding: 10px 0;
  Display: flex;
}

.form-row label {
  Padding-right: 10px;
}

.form-row input {
  flex: 1;
}

Form {
 width: 300px;
}

Input {
 Width: 100%;
}

Textarea {
 Resize: vertical;
 Max-height: 100px;
}

Input, textarea {
 Outline: none;
 Border: 1px solid #ddd;
}

Input:focus, textarea:focus {
 Box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}

::placeholder {
 Color: red;
 Opacity: 1;
}

:-ms-input-placeholder {			(styles Internet Explorer)
 Color: red;
 Opacity: 1;
}

::-ms-input-placeholder {			(styles Micosoft Edge)
 Color: red;
 Opacity: 1;
}

.check {

}


Table {
 Width: 400px;
 Border-spacing: 40px;
}

Th, caption {
 Text-align: left;
}

Table, th, td {
 Border: 1px solid #000;
 Border-collapse: collapse;
}

Th, td {
 Padding: 10px;
}

Tr:nth-child(even) {
 Background-color: red;
}
td:nth-child(1) {
  background-color: white;
}
