*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}


.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex; /*set the flex-container + make the contents direction go as a row (the pictures) */
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), /* the actual animation of the font => getting bigger*/
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), /* the text popup*/
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
    /* border: solid 1px red; /*giving a red border to see more clearly whats going on*/
  flex: 1; /* as an item => make the item grow and spread all the items equally */
  display: flex; /*makes .panel (currently a flex-item) a flex-container*/
  justify-content: center;
  align-items: center;
  flex-direction: column; /* the <p> tags will be set a collumns */
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Flex Children */
.panel > * { /*select all the * that is inside the .panel => you can alse use everything on .panel p*/
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.panel > *:first-child {transform: translateY(-100%);} /* hidding the top <p> */
.panel.open-active > *:first-child {transform: translateY(0);} /* when this class appears make a transition  */
.panel > *:last-child {transform: translateY(100%);} /* hidding the bottom <p> */
.panel.open-active > *:last-child {transform: translateY(0);}/* when this class appears make a transition  */

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
    /* border: solid 1px red; */
  flex: 1 0 auto;
  transition: transform 0.5s;
}

.panel p:nth-child(2) {
  font-size: 4em;

}

.panel.open { /* the click animation => text bigger and grow*/
  font-size: 40px;
  flex: 5; /* will thake 5 times the space the the other rows */
}
